openapi: 3.0.3

info:
  title: Payment Notice Microservice
  version: 14.0.0
  description: Payment Notice Microservice for Multi-channel Integration Layer of SW Client Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it

servers:
  - description: Development Test
    url: https://mil-d-apim.azure-api.net/mil-payment-notice
    x-internal: true
  - description: User Acceptance Test
    url: https://mil-u-apim.azure-api.net/mil-payment-notice
    x-internal: true

tags:
  - name: create
    description: Related to 'create' operation
  - name: read
    description: Related to 'read' operation
  - name: update
    description: Related to 'update' operation
  - name: delete
    description: Related to 'delete' operation
  - name: internal
    description: For internal purpose only
  - name: psp
    description: Intended for use by the PSP
  - name: pa
    description: Intended for use by the Public Administration (payee)

security:
  - bearerAuth: [ ]

paths:
  /debtPositions:
    get:
      operationId: getDebtPosition
      summary: Retrieves debt position
      description: Retrieves the debt position using the tax code token contained in the access token
      tags: [ read ]
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        "200":
          #description: Found
          $ref: '#/components/responses/DebtPosition'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "406":
          #description: Not acceptable. Did you require application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

  /paymentNotices:
    get:
      operationId: verifyNotice
      summary: Verifies a notice
      description: |
        Verifies a notice retrieving its status and data.
        The following query parameters combinations are allowed:
          * If the request is originated from the POS channel:
            - payeeCode, noticeNumber
            - qrCode
          * If the request is originated from the ATM channel:
            - payeeCode, noticeNumber, pspId, brokerId, channelId
            - qrCode, pspId, brokerId, channelId
      tags: [ read ]
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/PayeeCode'
        - $ref: '#/components/parameters/NoticeNumber'
        - $ref: '#/components/parameters/QrCode'
        - $ref: '#/components/parameters/PspId'
        - $ref: '#/components/parameters/BrokerId'
        - $ref: '#/components/parameters/ChannelId'
      responses:
        "200":
          #description: Found
          $ref: '#/components/responses/Notice'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "404":
          #descritpion: Not found
          $ref: '#/components/responses/Error'
        "406":
          #description: Not acceptable. Did you require application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error
    
  /transactions:
    parameters:
      - $ref: '#/components/parameters/RequestId'

    post:
      operationId: create
      summary: Creates a transaction
      description: Create a transaction from POS or from Public Admnitration portal
      tags: [ create ]
      requestBody:
        $ref: '#/components/requestBodies/Create'
      responses:
        "204":
          #description: No content
          $ref: '#/components/responses/Create'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "415":
          #description: Unsupported media type. Did you provide application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

    get:
      operationId: getTransactions
      summary: Retrieves the list of transactions
      description: Retrieves the list of transactions by service provider or payee
      tags: [ read ]
      parameters:
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/SortStrategy'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        "200":
          #description: Found
          $ref: '#/components/responses/PageOfTransactions'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "406":
          #description: Not acceptable. Did you require application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

  /transactions/latest:
    get:
      operationId: getLatestTransaction
      summary: Retrieves the latest transaction
      description: Retrieves the latest transaction by POS and status
      tags: [ read ]
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/Status'
      responses:
        "200":
          #description: Found
          $ref: '#/components/responses/Transaction'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "404":
          #description: Not found
          $ref: '#/components/responses/Error'
        "406":
          #description: Not acceptable. Did you require application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

  /transactions/{transactionId}/start:
    patch:
      operationId: start
      summary: Starts a transaction
      description: Starts a transaction created from Public Administration (payee) portal
      tags: [ update ]
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/TransactionId'
      requestBody:
        $ref: '#/components/requestBodies/Start'
      responses:
        "204":
          #description: No content
          $ref: '#/components/responses/NoContent'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "404":
          #description: Not found
          $ref: '#/components/responses/Error'
        "415":
          #description: Unsupported media type. Did you provide application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

  /transactions/{transactionId}/advice:
    patch:
      operationId: advice
      summary: Advice for a transaction
      description: Receives and process the advice of a transaction
      tags: [ update ]
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/TransactionId'
      requestBody:
        $ref: '#/components/requestBodies/Advice'
      responses:
        "204":
          #description: No content
          $ref: '#/components/responses/NoContent'
        "400":
          #description: Bad request
          $ref: '#/components/responses/Error'
        "401":
          #description: Access token is missing or invalid
          $ref: '#/components/responses/Error'
        "403":
          #description: Forbidden
          $ref: '#/components/responses/Error'
        "404":
          #description: Not found
          $ref: '#/components/responses/Error'
        "415":
          #description: Unsupported media type. Did you provide application/json?
          $ref: '#/components/responses/Error'
        "429":
          #description: Too many request
          $ref: '#/components/responses/Error'
        "500":
          #description: Server error
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

components:
  # ========================================================
  # Schemas
  # ========================================================
  schemas:
    # ------------------------------------------------------
    # Basic types
    # ------------------------------------------------------
    AccessControlAllowOrigin:
      description: Indicates whether the response can be shared with requesting code from the given origin
      type: string
      pattern: "^[ -~]{1,2048}$"
      minLength: 1
      maxLength: 2048
      example: "https://mil-d-apim.azure-api.net/portal"

    AtmId:
      description: ID of the ATM. It must be unique per Bank ID.
      type: string
      pattern: "^\\d{4,9}$"
      minLength: 4
      maxLength: 9
      example: "34523860"

    BankId:
      description: ID of the Bank assigned by the ABI.
      type: string
      pattern: "^\\d{5}$"
      minLength: 5
      maxLength: 5
      example: "05424"

    BrokerId:
      description: ID of pagoPA broker
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,35}$"
      minLength: 1
      maxLength: 35
      example: "97735020584"

    Channel:
      description: Channel used to pay
      enum:
        - ATM
        - POS
      type: string
      example: "ATM"

    ChannelId:
      description: ID of pagoPA channel
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,35}$"
      minLength: 1
      maxLength: 35
      example: "97735020584_03"

    CreditorReferenceId:
      description: IUV of the notice
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,35}$"
      minLength: 1
      maxLength: 35
      example: "48394875506035295"

    DueDate:
      description: Expiration date of the notice
      type: string
      format: date
      maxLength: 10
      example: "2022-11-30"

    Description:
      description: Notice description
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "Health ticket for chest x-ray"

    ErrorCode:
      description: Error code
      type: string
      pattern: "^[A-F0-9]{9}$"
      minLength: 9
      maxLength: 9
      example: "001000005"

    ErrorDescription:
      description: Error description
      type: string
      pattern: "^[ -~]{1,256}$"
      minLength: 1
      maxLength: 256
      example: "Unexpected error from server"

    EuroCents:
      description: Amount in euro cents
      type: integer
      format: int64
      minimum: 1
      maximum: 99999999999
      example: 12345

    Iban:
      description: IBAN of the payee
      type: string
      pattern: "^IT[0-9]{2}[A-Z]{1}[0-9]{10}[A-Z0-9]{12}$"
      minLength: 27
      maxLength: 27
      example: "IT12A1234512345123456789012"
    
    IdempotencyKey:
      description: Idempotency key for activate request
      type: string
      pattern: "^[0-9]{11}_[a-zA-Z0-9]{10}$"
      minLength: 22
      maxLength: 22
      example: "47583764545_Ahf479elk0"

    IdBundle:
      description: ID of fees bundle
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,70}$"
      minLength: 1
      maxLength: 70
      example: "457"
    
    IdCiBundle:
      description: ID of the payee which pays part of the fees
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,70}$"
      minLength: 1
      maxLength: 70
      example: "06534340721"

    MetadataKey:
      description: Key of metadata
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "INT_REF"
      
    MetadataValue:
      description: Value of metadata
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "123.456.00"

    NoticeNumber:
      description: Notice number
      type: string
      pattern: "^[0-9]{18}$"
      minLength: 18
      maxLength: 18
      example: "485564829563528563"

    OfficeName:
      description: Name of the payee office
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "Ufficio di Roma"

    #Outcome:
    #  description: Outcome returned to verify and activate operations when something went wrong (this will be removed)
    #  type: string
    #  enum:
    #    - NOTICE_GLITCH               # Spiacenti, c'è un problema tecnico con questo avviso.
    #    - WRONG_NOTICE_DATA           # Spiacenti, i dati dell’avviso non sono corretti.
    #    - CREDITOR_PROBLEMS           # Spiacenti, l’Ente Creditore sta avendo problemi nella risposta.
    #    - PAYMENT_ALREADY_IN_PROGRESS # Il pagamento è già in corso, riprova fra qualche minuto.
    #    - EXPIRED_NOTICE              # Spiacenti, l’avviso è scaduto e non è più possibile pagarlo.
    #    - REVOKED_NOTICE              # Spiacenti, l’Ente Creditore ha revocato questo avviso.
    #    - NOTICE_ALREADY_PAID         # Questo avviso è stato già pagato!
    #    - UNKNOWN_NOTICE              # Avviso sconosciuto.
    #    - UNEXPECTED_ERROR            # Spiacenti, si è verificato un errore imprevisto.
    #  example: "NOTICE_GLITCH"

    PageNumber:
      description: Number of the page
      type: integer
      format: int32
      minimum: 0
      maximum: 2147483647
      example: 1

    PageSize:
      description: Size of the page
      type: integer
      format: int32
      minimum: 1
      maximum: 128
      example: 20

    PayeeCode:
      description: Fiscal code of the subject that receives the payment (the payee)
      type: string
      pattern: "^\\d{11}$"
      minLength: 11
      maxLength: 11
      example: "06534340721"

    PayeeName:
      description: Name of the payee
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "ASL Roma"

    PaymentMethod:
      description: Method used to pay the notice
      type: string
      enum:
        - DOMESTIC_CARD
        - INTERNATIONAL_CARD
        - CASH
        - OTHER
      example: "DOMESTIC_CARD"

    PaymentToken:
      description: ID of the payment activation
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,35}$"
      minLength: 1
      maxLength: 35
      example: "648fhg36s95jfg7DS"

    PosId:
      description: ID of the POS. It must be unique per terminal handler.
      type: string
      pattern: "^\\d{8}$"
      minLength: 8
      maxLength: 8
      example: "34523860"

    PspId:
      description: ID of pagoPA PSP
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,35}$"
      minLength: 1
      maxLength: 35
      example: "AGID_01"

    QrCodeBase64UrlEnc:
      description: Base64Url of the string encoded by the QR-code. This is due to a bug of Azure routing system which decodes %2F before routing the request.
      type: string
      pattern: "^[a-zA-Z0-9_-]{32,128}$"
      minLength: 32
      maxLength: 128
      example: "UEFHT1BBfDAwMnwwMDAwMDAwMDAwMDAwMDAwMDB8MDAwMDAwMDAwMDB8OTk5OQ"

    RateLimitLimit:
      description: The number of allowed requests in the current period
      type: integer
      format: int32
      minimum: 1
      maximum: 240
      example: 2

    RateLimitReset:
      description: The number of seconds left in the current period
      type: integer
      format: int32
      minimum: 1
      maximum: 60
      example: 30

    RetryAfter:
      description: The number of seconds to wait before allowing a follow-up request
      type: integer
      format: int32
      minimum: 1
      maximum: 240
      example: 60

    RemittanceInfo:
      description: Reason of the payment
      type: string
      pattern: "^[\\u0001-\\uD7FF\\uE000-\\uFFFD\\U10000-\\U10FFFF]{1,140}$"
      minLength: 1
      maxLength: 140
      example: "Health ticket for chest x-ray"

    ServiceProviderId:
      description: ID of the service provider
      type: string
      pattern: "^[ -~]{1,64}$"
      minLength: 1
      maxLength: 64
      example: "AGID_01"

    Standin:
      description: If true standin mode is in use 
      type: boolean
      example: false
    
    Status:
      description: Status of the transaction
      type: string
      enum:
        - CLOSED_OK
        - ERROR_ON_PAYMENT
        - ABORT
      example: "CLOSED_OK"

    TerminalHandlerId:
      description: Terminal handler identifier
      type: string
      pattern: "^\\d{5}$"
      minLength: 5
      maxLength: 5
      example: "45856"

    TerminalUuid:
      description: UUID of a terminal
      type: string
      pattern: "^[0-9a-f]{24}$"
      minLength: 24
      maxLength: 24
      example: "c7a1b24b0583477292ebdbaa"

    Timestamp:
      description: Timestamp (ex. 2024-03-06T13:15:54Z, 2024-03-06T14:15:54+01:00)
      type: string
      format: date-time
      pattern: "^\\d{4}\\-\\d{2}\\-\\d{2}T\\d{2}:\\d{2}:\\d{2}(Z|(\\+|\\-)\\d{2}:\\d{2})$"
      minLength: 20
      maxLength: 25
      example: "2024-03-06T14:15:54+01:00"

    TransactionId:
      description: Transaction ID
      type: string
      pattern: "^[0-9a-f]{24}$"
      minLength: 24
      maxLength: 24
      example: "4658fcb36e520a65b1be79d0"

    # ------------------------------------------------------
    # Complex types
    # ------------------------------------------------------
    AdviceFromAtm:
      description: Advice from POS to communicate the outcome of the transaction. If status is CLOSED_OK, paymentMethod is mandatory, otherwise it is ignored.
      type: object
      additionalProperties: false
      properties:
        status:
          $ref: '#/components/schemas/Status'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        pspId:
          $ref: '#/components/schemas/PspId'
        brokerId:
          $ref: '#/components/schemas/BrokerId'
        channelId:
          $ref: '#/components/schemas/ChannelId'
      required:
        - status
        - pspId
        - brokerId
        - channelId
      example:
        status: "CLOSED_OK"
        paymentMethod: "DOMESTIC_CARD"
        pspId: "AGID_01"
        brokerId: "97735020584"
        channelId: "97735020584_03"

    AdviceFromPos:
      description: Advice from POS to communicate the outcome of the transaction. If status is CLOSED_OK, paymentMethod is mandatory, otherwise it is ignored.
      type: object
      additionalProperties: false
      properties:
        status:
          $ref: '#/components/schemas/Status'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
      required:
        - status
      example:
        status: "CLOSED_OK"
        paymentMethod: "DOMESTIC_CARD"

    Client:
      oneOf:
        - $ref: '#/components/schemas/ClientPos'
        - $ref: '#/components/schemas/ClientAtm'

    ClientAtm:
      description: ATM data
      type: object
      additionalProperties: false
      properties:
        bankId:
          $ref: '#/components/schemas/BankId'
        channel:
          $ref: '#/components/schemas/Channel'
        terminalId:
          $ref: '#/components/schemas/AtmId'
      required:
        - bankId
        - channel
        - terminalId
      example:
        bankId: "05424"
        channel: "ATM"
        terminalId: "3452"

    ClientPos:
      description: POS data
      type: object
      additionalProperties: false
      properties:
        serviceProviderId:
          $ref: '#/components/schemas/ServiceProviderId'
        channel:
          $ref: '#/components/schemas/Channel'
        terminalHandlerId:
          $ref: '#/components/schemas/TerminalHandlerId'
        terminalId:
          $ref: '#/components/schemas/PosId'
        terminalUuid:
          $ref: '#/components/schemas/TerminalUuid'
      required:
        - serviceProviderId
        - channel
        - terminalHandlerId
        - terminalId
        - terminalUuid
      example:
        serviceProviderId: "AGID_01"
        channel: "POS"
        terminalHandlerId: "45856"
        terminalId: "34523860"
        terminalUuid: "c7a1b24b0583477292ebdbaa"

    CreateFromPa:
      description: Request to create a transaction from Public Administration (payee) portal
      type: object
      additionalProperties: false
      properties:
        terminalUuid:
          $ref: '#/components/schemas/TerminalUuid'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
      required:
        - terminalUuid
        - noticeNumber
        - amount
      example:
        terminalUuid: "c7a1b24b0583477292ebdbaa"
        noticeNumber: "485564829563528563"
        amount: 12345

    CreateFromAtm:
      description: Request to create a transaction from ATM
      type: object
      additionalProperties: false
      properties:
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        pspId:
          $ref: '#/components/schemas/PspId'
        brokerId:
          $ref: '#/components/schemas/BrokerId'
        channelId:
          $ref: '#/components/schemas/ChannelId'
      required:
          - payeeCode
          - noticeNumber
          - amount
          - idempotencyKey
          - pspId
          - brokerId
          - channelId
      example:
        payeeCode: "06534340721"
        noticeNumber: "485564829563528563"
        amount: 12345
        idempotencyKey: "47583764545_Ahf479elk0"
        pspId: "AGID_01"
        brokerId: "97735020584"
        channelId: "97735020584_03"

    CreateFromPos:
      description: Request to create a transaction from POS
      type: object
      additionalProperties: false
      properties:
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
      required:
          - payeeCode
          - noticeNumber
          - amount
          - idempotencyKey
      example:
        payeeCode: "06534340721"
        noticeNumber: "485564829563528563"
        amount: 12345
        idempotencyKey: "47583764545_Ahf479elk0"

    Error:
      description: Error details
      type: object
      additionalProperties: false
      properties:
        errorCode:
          $ref: '#/components/schemas/ErrorCode'
        errorDescription:
          $ref: '#/components/schemas/ErrorDescription'
      required:
        - errorCode
        - errorDescription
      example:
        errorCode: "001000001"
        errorDescription: "Generic error"

    Metadata:
      description: Metadata for use and consumption of payee which issued the notice
      type: object
      additionalProperties: false
      properties:
        key:
          $ref: '#/components/schemas/MetadataKey'
        value:
          $ref: '#/components/schemas/MetadataValue'
      required:
        - key
        - value
      example:
        key: "INT_REF"
        value: "123.456.00"

    MetadataList:
      description: List of metadata
      type: array
      minItems: 1
      maxItems: 15
      items:
        $ref: '#/components/schemas/Metadata'
      example:
        - key: "INT_REF"
          value: "123.456.00"
        - key: "REGIONAL_REF"
          value: "q76_089"

    NoticeBasic:
      description: Basic data of a notice
      type: object
      additionalProperties: false
      properties:
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
        description:
          $ref: '#/components/schemas/Description'
        dueDate:
          $ref: '#/components/schemas/DueDate'
      required:
        - payeeCode
        - noticeNumber
        - amount
        - description
      example:
        payeeCode: "06534340721"
        noticeNumber: "485564829563528563"
        amount: 12345
        description: "Health ticket for chest x-ray"
    
    Notice:
      description: Notice data
      type: object
      additionalProperties: false
      properties:
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
        description:
          $ref: '#/components/schemas/Description'
        dueDate:
          $ref: '#/components/schemas/DueDate'
        payeeName:
          $ref: '#/components/schemas/PayeeName'
        officeName:
          $ref: '#/components/schemas/OfficeName'
      required:
        - payeeCode
        - noticeNumber
        - amount
        - description
        - payeeName
      example:
        payeeCode: "06534340721"
        noticeNumber: "248394875506035295"
        amount: 12345
        description: "Health ticket for chest x-ray"
        payeeName: "ASL Roma"

    NoticeDetails:
      description: Notice details
      type: object
      additionalProperties: false
      properties:
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        noticeNumber:
          $ref: '#/components/schemas/NoticeNumber'
        amount:
          $ref: '#/components/schemas/EuroCents'
        description:
          $ref: '#/components/schemas/Description'
        payeeName:
          $ref: '#/components/schemas/PayeeName'
        officeName:
          $ref: '#/components/schemas/OfficeName'
        paymentToken:
          $ref: '#/components/schemas/PaymentToken'
        creditorReferenceId:
          $ref: '#/components/schemas/CreditorReferenceId'
        transfers:
          $ref: '#/components/schemas/Transfers'
        metadata:
          $ref: '#/components/schemas/MetadataList'
      required:
        - payeeCode
        - noticeNumber
        - amount
        - description
        - payeeName
        - paymentToken
        - creditorReferenceId
        - transfers
      example:
        payeeCode: "06534340721"
        noticeNumber: "248394875506035295"
        amount: 12345
        description: "Health ticket for chest x-ray"
        payeeName: "ASL Roma"
        paymentToken: "648fhg36s95jfg7DS"
        creditorReferenceId: "48394875506035295"
        transfers:
          - id: 1
            amount: 12345
            payeeCode: "06534340721"
            remittanceInformation: "Health ticket for chest x-ray"

    Notices:
      description: List of notices
      type: array
      minItems: 1
      maxItems: 5
      items:
        $ref: '#/components/schemas/NoticeDetails'
      example:
        - payeeCode: "06534340721"
          noticeNumber: "248394875506035295"
          amount: 12345
          description: "Health ticket for chest x-ray"
          payeeName: "ASL Roma"
          paymentToken: "648fhg36s95jfg7DS"
          creditorReferenceId: "48394875506035295"
          transfers:
            - id: 1
              amount: 12345
              payeeCode: "06534340721"
              remittanceInformation: "Health ticket for chest x-ray"

    PageMetadata:
      description: Metadata of a page of data
      type: object
      additionalProperties: false
      properties:
        size:
          $ref: '#/components/schemas/PageSize'
        totalElements:
          description: Total number of items
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          example: 200
        totalPages:
          $ref: '#/components/schemas/PageNumber'
      example:
        size: 20
        totalElements: 100
        totalPages: 5

    PageOfTransactions:
      description: Page of transactions
      allOf:
        - type: object
          additionalProperties: false
          properties:
            transactions:
              $ref: '#/components/schemas/Transactions'
          required:
            - transactions
        - type: object
          additionalProperties: false
          properties:
            page:
              $ref: '#/components/schemas/PageMetadata'
          required:
            - page
      example:
        transactions:
          - id: "4658fcb36e520a65b1be79d0"
            creationTimestamp: "2024-03-06T13:15:54Z"
            lastUpdateTimestamp: "2024-03-06T13:16:33Z"
            status: "CLOSED_OK"
            client:
              serviceProviderId: "AGID_01"
              channel: "POS"
              terminalHandlerId: "45856"
              terminalId: "34523860"
              terminalUuid: "c7a1b24b0583477292ebdbaa"
            pspId: "AGID_01"
            pspBrokerId: "97735020584"
            channelId: "97735020584_03"
            noticesTotalAmount: 12345
            payerFees: 50
            payerAmount: 12395
            notices:
              - paymentToken: "648fhg36s95jfg7DS"
                description: "Health ticket for chest x-ray"
                payeeCode: "06534340721"
                noticeNumber: "248394875506035295"
                payeeName: "ASL Roma"
                creditorReferenceId: "48394875506035295"
                amount: 12345
                transfers:
                  - id: 1
                    amount: 12345
                    payeeCode: "06534340721"
                    remittanceInformation: "Health ticket for chest x-ray"
        page:
          size: 1
          totalElements: 5
          totalPages: 5

    Transaction:
      description: Transaction details
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/TransactionId'
        creationTimestamp:
          #description: Moment of creation of the transaction (ex. 2024-03-06T13:15:54Z, 2024-03-06T14:15:54+01:00)
          $ref: '#/components/schemas/Timestamp'
        lastUpdateTimestamp:
          #description: Moment of last update of the transaction (ex. 2024-03-06T13:15:54Z, 2024-03-06T14:15:54+01:00)
          $ref: '#/components/schemas/Timestamp'
        status:
          $ref: '#/components/schemas/Status'
        client:
          $ref: '#/components/schemas/Client'
        pspId:
          $ref: '#/components/schemas/PspId'
        pspBrokerId:
          $ref: '#/components/schemas/BrokerId'
        channelId:
          $ref: '#/components/schemas/ChannelId'
        noticesTotalAmount:
          #description: Total notices amount
          $ref: '#/components/schemas/EuroCents'
        payerFees:
          #description: Fee charged to the payer
          $ref: '#/components/schemas/EuroCents'
        payeeFees:
          #description: Fee charged to the payee
          $ref: '#/components/schemas/EuroCents'
        payerAmount:
          #description: Total notices amount + Fee charged to the payer
          $ref: '#/components/schemas/EuroCents'
        idBundle:
          $ref: '#/components/schemas/IdBundle'
        idCiBundle:
          $ref: '#/components/schemas/IdCiBundle'
        notices:
          $ref: '#/components/schemas/Notices'
        standin:
          $ref: '#/components/schemas/Standin'
      required:
        - id
        - creationTimestamp
        - lastUpdateTimestamp
        - status
        - client
        - pspId
        - pspBrokerId
        - channelId
        - noticesTotalAmount
        - payerFees
        - payerAmount
        - notices
      example:
        id: "4658fcb36e520a65b1be79d0"
        creationTimestamp: "2024-03-06T13:15:54Z"
        lastUpdateTimestamp: "2024-03-06T13:16:33Z"
        status: "CLOSED_OK"
        client:
          serviceProviderId: "AGID_01"
          channel: "POS"
          terminalHandlerId: "45856"
          terminalId: "34523860"
          terminalUuid: "c7a1b24b0583477292ebdbaa"
        pspId: "AGID_01"
        pspBrokerId: "97735020584"
        channelId: "97735020584_03"
        noticesTotalAmount: 12345
        payerFees: 50
        payerAmount: 12395
        notices:
          - paymentToken: "648fhg36s95jfg7DS"
            description: "Health ticket for chest x-ray"
            payeeCode: "06534340721"
            noticeNumber: "248394875506035295"
            payeeName: "ASL Roma"
            creditorReferenceId: "48394875506035295"
            amount: 12345
            transfers:
              - id: 1
                amount: 12345
                payeeCode: "06534340721"
                remittanceInformation: "Health ticket for chest x-ray"

    Transactions:
      description: List of transactions
      type: array
      minItems: 0
      maxItems: 128
      items:
        $ref: '#/components/schemas/Transaction'
      example:
        - id: "4658fcb36e520a65b1be79d0"
          creationTimestamp: "2024-03-06T13:15:54Z"
          lastUpdateTimestamp: "2024-03-06T13:16:33Z"
          status: "CLOSED_OK"
          client:
            serviceProviderId: "AGID_01"
            channel: "POS"
            terminalHandlerId: "45856"
            terminalId: "34523860"
            terminalUuid: "c7a1b24b0583477292ebdbaa"
          pspId: "AGID_01"
          pspBrokerId: "97735020584"
          channelId: "97735020584_03"
          noticesTotalAmount: 12345
          payerFees: 50
          payerAmount: 12395
          notices:
            - paymentToken: "648fhg36s95jfg7DS"
              description: "Health ticket for chest x-ray"
              payeeCode: "06534340721"
              noticeNumber: "248394875506035295"
              payeeName: "ASL Roma"
              creditorReferenceId: "48394875506035295"
              amount: 12345
              transfers:
                - id: 1
                  amount: 12345
                  payeeCode: "06534340721"
                  remittanceInformation: "Health ticket for chest x-ray"

    Transfer:
      description: Details of the amount transfer to payee
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          minimum: 1
          maximum: 5
        amount:
          $ref: '#/components/schemas/EuroCents'
        payeeCode:
          $ref: '#/components/schemas/PayeeCode'
        payeeName:
          $ref: '#/components/schemas/PayeeName'
        iban:
          $ref: '#/components/schemas/Iban'
        remittanceInformation:
          $ref: '#/components/schemas/RemittanceInfo'
        metadata:
          $ref: '#/components/schemas/MetadataList'
      required:
        - id
        - amount
        - payeeCode
        - remittanceInformation
      example:
        id: 1
        amount: 12345
        payeeCode: "06534340721"
        remittanceInformation: "Health ticket for chest x-ray"

    Transfers:
      description: List of transfers
      type: array
      minItems: 1
      maxItems: 5
      items:
        $ref: '#/components/schemas/Transfer'
      example:
        - id: 1
          amount: 12345
          payeeCode: "06534340721"
          remittanceInformation: "Health ticket for chest x-ray"

  # ========================================================
  # Request bodies
  # ========================================================
  requestBodies:
    Advice:
      description: Advice from POS or ATM to communicate the outcome of the transaction.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/AdviceFromPos'
              - $ref: '#/components/schemas/AdviceFromAtm'
    
    Create:
      description: Request to create a transaction from POS or from Public Administration (payee) portal
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/CreateFromPos'
              - $ref: '#/components/schemas/CreateFromPa'
              - $ref: '#/components/schemas/CreateFromAtm'

    Start:
      description: Request to start a transaction created from Public Administration (payee) portal
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              idempotencyKey:
                $ref: '#/components/schemas/IdempotencyKey'
            required:
              - idempotencyKey
    
  # ========================================================
  # Parameters
  # ========================================================
  parameters:
    BrokerId:
      name: brokerId
      in: query
      description: ID of pagoPA broker
      required: false
      schema:
        $ref: '#/components/schemas/BrokerId'

    ChannelId:
      name: channelId
      in: query
      description: ID of pagoPA channel
      required: false
      schema:
        $ref: '#/components/schemas/ChannelId'

    EndDate:
      name: endDate
      in: query
      description: End date of the time range in which to search for transactions
      required: true
      schema:
        type: string
        format: date
        maxLength: 10
        example: "2022-11-30"

    NoticeNumber:
      name: noticeNumber
      in: query
      description: Notice number
      required: false
      schema:
        $ref: '#/components/schemas/NoticeNumber'

    Page:
      name: page
      in: query
      description: Number of the required transactions page
      required: true
      schema:
        $ref: '#/components/schemas/PageNumber'

    PayeeCode:
      name: payeeCode
      in: query
      description: Fiscal code of the subject that receives the payment (the payee)
      required: false
      schema:
        $ref: '#/components/schemas/PayeeCode'

    PspId:
      name: pspId
      in: query
      description: ID of pagoPA PSP
      required: false
      schema:
        $ref: '#/components/schemas/PspId'

    QrCode:
      name: qrCode
      in: query
      description: Base64Url without trailing equals of the string encoded by the QR-code
      required: false
      schema:
        $ref: '#/components/schemas/QrCodeBase64UrlEnc'

    RequestId:
      name: RequestId
      in: header
      description: Request ID that will be logged by service
      required: true
      schema:
        type: string
        pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        minLength: 36
        maxLength: 36
        example: "d0d654e6-97da-4848-b568-99fedccb642b"

    Size:
      name: size
      in: query
      description: Size of the required transactions page
      required: true
      schema:
        $ref: '#/components/schemas/PageSize'

    SortStrategy:
      name: sortStrategy
      in: query
      required: true
      description: Strategy used to sort returned transactions by creation timestamp
      schema:
        type: string
        enum:
          - asc
          - desc
        example: "desc"

    StartDate:
      name: startDate
      in: query
      description: Start date of the time range in which to search for transactions
      required: true
      schema:
        type: string
        format: date
        maxLength: 10
        example: "2022-11-30"

    Status:
      name: status
      in: query
      description: Status of the transactions to search for
      required: true
      schema:
        $ref: '#/components/schemas/Status'

    TransactionId:
      name: transactionId
      in: path
      description: ID of the transaction target of the invoked operation
      required: true
      schema:
        $ref: '#/components/schemas/TransactionId' 

  # ========================================================
  # Responses
  # ========================================================
  responses:
    Create:
      description: Response to request to create a transaction from POS or from Public Administration (payee) portal
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
        Location:
          description: URL of the transaction
          schema:
            type: string
            pattern: "^[ -~]{1,2048}$"
            minLength: 1
            maxLength: 2048
            example: "https://mil-d-apim.azure-api.net/mil-payment-notice/transactions/4658fcb36e520a65b1be79d0"
            
    DebtPosition:
      description: Retrieved debt position
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              debtPosition:
                type: array
                minItems: 0
                maxItems: 64
                items:
                  $ref: '#/components/schemas/NoticeBasic'

    Error:
      description: Error response
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
        Retry-After:
          description: The number of seconds to wait before allowing a follow-up request
          required: false
          schema:
            $ref: '#/components/schemas/RetryAfter'
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 32
                items:
                  $ref: '#/components/schemas/Error'
            required:
              - errors
            example:
              errors:
                - errorCode: "00000000A"
                  errorDescription: "Generic error"
                - errorCode: "001000001"
                  errorDescription: "Unexpected error from server"

    NoContent:
      description: No content response
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'

    Notice:
      description: Notice data
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Notice'

    PageOfTransactions:
      description: Page of retrieved transactions
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PageOfTransactions'

    Transaction:
      description: Retrieved transaction
      headers:
        Access-Control-Allow-Origin:
          description: Indicates whether the response can be shared with requesting code from the given origin
          required: false
          schema:
            $ref: '#/components/schemas/AccessControlAllowOrigin'
        RateLimit-Limit:
          description: The number of allowed requests in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitLimit'
        RateLimit-Reset:
          description: The number of seconds left in the current period
          required: false
          schema:
            $ref: '#/components/schemas/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transaction'

  # ========================================================
  # Security schemes
  # ========================================================
  securitySchemes:
    bearerAuth:
      description: A bearer token in the format of a JWS and conforms to the specifications included in RFC8725
      type: http
      scheme: bearer
      bearerFormat: JWT